include includes/layout.pug
    h3 Edit Room

    form(method='POST')
        fieldset
            .form-group
                label(for='name') Name
                input#name.form-control(type='name', name='name', value= room.name)
            button.btn.btn-primary(type='submit') Submit
            a.btn.btn-danger(href='/admin/rooms') Cancel
